/* #greenbtn {
    background-color: green;
    color: white;
} */
 /* h1 {
    text-align: center;
    text-transform: capitalize ;
 } */
/* #navbar {
         background-color: black;
         height: 50px;
         width:auto;
}


 a {
    text-decoration:none;
    color:white;
    margin-left: 200px;
}

#logo {
    margin-left: 20px;
    font-size: 25px;
    color: #f08804;
}

input {
    margin-left: 200px;
}


 button {
    background-color: #f08804;
    color:white;
}

  
.contentBox {
    height: 100px;
    width: 100px;
  }

  footer {
    height: 100px;
    width: 100px;
  } */
   